{% extends "main/layout.html" %}
{% load static %}

{% block title %}Пост 2{% endblock %}

{% block content %}
    <div class='postitem_page'>
        <a href="{% url 'posts' %}" class='back_button'>
            <img src="{% static "main/img/left_arrow.png" %}" alt="back button">
            <p>Назад</p>
        </a>
        <div class='content'>
            <div class='image_with_info cut_image'>
                <img src="{% static 'main/img/post_taivan1.jpg' %}" alt="taivan photo">
                <div>
                    <div class='shows'>
                        <p>110</p>
                        <img src="{% static 'main/img/eye_icon.png' %}" alt="eye icon">
                    </div>
                    <div class='data'>
                        <p>18.01.24</p>
                        <img src="{% static 'main/img/calendar_icon.png' %}" alt="calendar icon">
                    </div>
                </div>
            </div>
            <div class='nav'>
                <a href='#trip_to_taivan'>Путешествие в Тайвань</a>
                <a href='#taivan_architecture'>Архитектура Тайваня</a>
            </div>
            <h1 id='trip_to_taivan'>Путешествие в Тайвань</h1>
            <p>Тайвань - островное государство, расположенное в Восточной Азии между Японией и Филиппинами. Тайвань известен своей богатой историей, красивой природой и разнообразной культурой.
                Исторически, Тайвань был домом для различных аборигенных племен, а затем был колонизирован Португальцами, Нидерландцами, и, в конечном итоге, Китаем. В 20-ом веке остров на некоторое время был под контролем Японии, перед тем как стать основой Китайской Республики.
                Природа Тайваня удивительно разнообразна — от горных вершин и популярных горячих источников до тропических пляжей и живописных бухт. Остров также славится своими национальными парками, такими как парк Тароко, который известен своими ущельями, водопадами и горными тропами.
                Культурно, Тайвань предлагает множество интересных достопримечательностей, включая традиционные храмы, музеи, ярмарки и фестивали. Кухня Тайваня также удивляет своим разнообразием и аутентичностью. Национальное блюдо, каким является булаяо, представляет собой набор маринованных мясных и рыбных продуктов, подаваемых с пастой и другими дополнениями.
                Сегодня Тайвань становится все более популярным направлением для туристов, и привлекает людей со всего мира своим уникальным сочетанием природных красот и богатой культурой. Остров имеет отличную инфраструктуру, гостеприимное население и разнообразные возможности для активного и спокойного отдыха.
                Тайвань - это по-настоящему уникальное место, которое предлагает разнообразные возможности для путешествий и исследований.</p>
            <div class='image_with_link cut_image'>
                <img src="{% static 'main/img/post_taivan2.jpg' %}" alt="taivan photo">
                <a href="https://unsplash.com/photos/group-of-people-on-china-town-6rEPAbrXNaY" target='_blank'>Источник изображения</a>
            </div>
            <p class='annot'>Photo from Unsplash, 2023</p>
            <h1 id='taivan_architecture'>Архитектура Тайваня</h1>
            <p>Тайвань - островное государство, расположенное в Восточной Азии между Японией и Филиппинами. Тайвань известен своей богатой историей, красивой природой и разнообразной культурой.
                Исторически, Тайвань был домом для различных аборигенных племен, а затем был колонизирован Португальцами, Нидерландцами, и, в конечном итоге, Китаем. В 20-ом веке остров на некоторое время был под контролем Японии, перед тем как стать основой Китайской Республики.
                Природа Тайваня удивительно разнообразна — от горных вершин и популярных горячих источников до тропических пляжей и живописных бухт. Вот несколько замечательных образцов архитектуры в Тайване:</p>
            <ul>
                <li>Тайбэй 101</li>
                <li>Здание мэрии Тайбэя</li>
                <li>Старые кварталы Тайбэя, такие как Дадаочен</li>
                <li>Храм Лунан</li>
            </ul>
            <div class='image_with_link cut_image'>
                <img src="{% static 'main/img/post_taivan3.jpg' %}" alt="taivan photo">
                <a href="https://unsplash.com/photos/a-red-and-gold-building-with-a-clock-on-its-side-nUnKRTUr9fs" target='_blank'>Источник изображения</a>
            </div>
            <p class='annot'>Photo from Unsplash, 2023</p>
            <p>Статья “Путешествие в Тайвань”,<br>Иванов Виктор, 2023 г.</p>
        </div>
    </div>
{% endblock %}