{% extends "main/layout.html" %}
{% load static %}

{% block title %}Пост 3{% endblock %}

{% block content %}
    <div class='postitem_page'>
        <a href="{% url 'posts' %}" class='back_button'>
            <img src="{% static "main/img/left_arrow.png" %}" alt="back button">
            <p>Назад</p>
        </a>
        <div class='content'>
            <div class='image_with_info cut_image'>
                <img src="{% static 'main/img/post_moscow1.jpg' %}" alt="moscow photo">
                <div>
                    <div class='shows'>
                        <p>445</p>
                        <img src="{% static 'main/img/eye_icon.png' %}" alt="eye icon">
                    </div>
                    <div class='data'>
                        <p>01.01.24</p>
                        <img src="{% static 'main/img/calendar_icon.png' %}" alt="calendar icon">
                    </div>
                </div>
            </div>
            <div class='nav'>
                <a href='#trip_to_moscow'>Путешествие в Москву</a>
                <a href='#moscow_skyscrapers'>Небоскребы Москвы</a>
            </div>
            <h1 id='trip_to_moscow'>Путешествие в Москву</h1>
            <p>Москва - древний и величественный город, столица России и один из самых крупных мегаполисов мира. Она уникальна своим богатым историческим наследием, величественной архитектурой, разнообразной культурной жизнью и динамичной экономикой.
                История Москвы насчитывает более 800 лет, и за это время она пережила бурные события, играла важную роль в истории России и мира. Сегодня в Москве можно увидеть множество исторических зданий, таких как Кремль, храмы, памятники, которые являются свидетелями прошлого и символами современной российской культуры. Москва также является важным политическим, экономическим и культурным центром. В городе располагаются офисы многих крупных российских и международных компаний, а также многочисленные музеи, театры, концертные залы и выставочные центры. Это место, где сочетаются традиции и современность, где каждый найдет занятия по душе.
                Москва также славится своими парками и скверами, где можно насладиться природой и отдохнуть от городской суеты. Здесь множество возможностей для активного отдыха, занятия спортом, прогулок и пикников. Город известен своей транспортной системой, включающей в себя метро, автобусы, трамваи и маршрутки, что облегчает передвижение по всему городу.
                Москва - это место, где сочетаются история и современность, культура и развлечения, что делает ее привлекательным для туристов и жителей. Этот уникальный город предлагает множество возможностей для изучения и отдыха, и по праву считается одним из самых захватывающих и привлекательных мест на планете.</p>
            <div class='image_with_link cut_image'>
                <img src="{% static 'main/img/post_moscow2.jpg' %}" alt="moscow photo">
                <a href="https://unsplash.com/photos/reflection-of-gray-building-on-body-of-water-during-daytime-H56Byq5KoBE" target='_blank'>Источник изображения</a>
            </div>
            <p class='annot'>Photo from Unsplash, 2023</p>
            <h1 id='moscow_skyscrapers'>Небоскребы Москвы</h1>
            <p>Москва - древний и величественный город, столица России и один из самых крупных мегаполисов мира. Она уникальна своим богатым историческим наследием, величественной архитектурой, разнообразной культурной жизнью и динамичной экономикой. История Москвы насчитывает более 800 лет, и за это время она пережила бурные события, играла важную роль в истории России и мира. Вот список известных высотных зданий в Москве:</p>
            <ul>
                <li>Останкинская телебашня</li>
                <li>Здания "Москва-Сити"
                    <ol>
                        <li>"Меркурий Сити Тауэр"</li>
                        <li>"Империя Тауэр"</li>
                        <li>"Башня "Федерация"</li>
                        <li>"Лахта Центр"</li>
                        <li>"Башня "Эволюция"</li>
                    </ol>
                </li>
                <li>Московский дворец молодёжи</li>
            </ul>
            <div class='image_with_link cut_image'>
                <img src="{% static 'main/img/post_moscow3.jpg' %}" alt="moscow photo">
                <a href="https://unsplash.com/photos/a-group-of-tall-buildings-next-to-each-other-ili5DjK7BL0" target='_blank'>Источник изображения</a>
            </div>
            <p class='annot'>Photo from Unsplash, 2023</p>
            <p>Статья “Путешествие в Москву”,<br>Иванов Виктор, 2023 г.</p>
        </div>
    </div>
{% endblock %}